 
* {
    /* background-color: #FF69B4; */
    font-family:  'Trispace', sans-serif;
    font-weight: 300;
    /* color: black; */
    /* margin: auto; */
}

/* NAV BAR  */

.lights {
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    border-color: black;
    font-size: 24px;
}

.lightMode{
    background-color: #FF69B4; 
    font-weight: bold;
}

.darkMode {
    background-color: #C71585;
    font-weight: bold;
}

.control{
   
}




/* BODY */


h1{
    display: flex;
    justify-content: center;
    padding: 55px;
    margin: auto;
    font-weight: bold;
}


.egg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    animation: 900ms ease-in-out infinite backwards;
    animation-name: animation-egg;
    
}


#submitName {
    padding: 25px;
    margin: 50px;
    display: flex;
    justify-content: center;
    color: black;
}

#metrics{
    list-style: none;
    font-size: 24px;
    width: 200px;
    margin: 0;
    padding: 10px;
}

#rules{
    list-style: none;
    display: flex;
    align-content: flex-end;
    flex-direction: column;
    width: 400px;
    padding-right: 24px;
    margin-left: 600px;
    margin-left: 1000px;
    margin-top: -250px;
   
}

.rule{
   padding: 10px;
}

#rulesHeadline{
    font-weight: bold;
    display: flex;
    align-content: flex-end;
}


.nameOfTamagotchi{
    font-size: 32px;
    font-weight: bold;
}


@keyframes animation-egg{
    0%{
        transform: rotate(0) ;
    }
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0);
    }
}

h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15ems;  
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
}
  
/* The typing effect */
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
  
 