 
* {
    background-color: #FF69B4;
    font-family:  'Trispace', sans-serif;
    font-weight: 300;
}

h1{
    display: flex;
    justify-content: center;
    padding: 55px;
    margin: auto;
}




.egg{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    animation: 900ms ease-in-out infinite backwards;
    animation-name: animation-egg;
    
}

@keyframes animation-egg{
    0%{
        transform: rotate(0) ;
    }
    25%{
        transform: rotate(20deg);
    }
    75%{
        transform: rotate(-20deg);
    }
    100%{
        transform: rotate(0);
    }
}

h1 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .15em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(40, end),
      blink-caret .75s step-end infinite;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }
  
 